<h3>Angular Password Validation</h3>
<div>
  <form name="myForm" novalidate>
    <input type="password" class="form-control" id="password" name="password" placeholder="Enter password"
           [(ngModel)]="account.password" #password="ngModel"
           minlength="5" maxlength="50" required>
    <password-validation [passwordToCheck]="account.password" [barColors]="myColors"
                               [baseColor]="baseColor"
                               [strengthLabels]="strengthLabels">
  </password-validation>
  </form>
</div>
